<!-- Navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>


<div class="content" role="main">
    <section carrousel>
        <input id="slide-0" name="carrousel" type="radio" checked/>
        <div class="slide">
            <label for="slide-3" class="back">‹</label>
            <div class="slide-content">
                <div class="text-slide">
                    <h4>Bostorek Bookstore</h4>
                    <h1>For All Your<br/>Reading Needs</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora sequi fugiat veniam cum.</p>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
                <img src="../assets/img/slider-img.png" alt="">
            </div>
            <label for="slide-1" class="forward">›</label>
        </div>

        <input id="slide-1" name="carrousel" type="radio" />
        <div class="slide">
            <label for="slide-0" class="back">‹</label>
            <div class="slide-content">
                <div class="text-slide">
                    <h4>Bostorek Bookstore 2</h4>
                    <h1>For All Your<br/>Reading Needs</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora sequi fugiat veniam cum.</p>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
                <img src="../assets/img/slider-img.png" alt="">
            </div>
            <label for="slide-2" class="forward">›</label>
        </div>

        <input id="slide-2" name="carrousel" type="radio" />
        <div class="slide">
            <label for="slide-1" class="back">‹</label>
            <div class="slide-content">
                <div class="text-slide">
                    <h4>Bostorek Bookstore 3</h4>
                    <h1>For All Your<br/>Reading Needs</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora sequi fugiat veniam cum.</p>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
                <img src="../assets/img/slider-img.png" alt="">
            </div>
            <label for="slide-3" class="forward">›</label>
        </div>

        <input id="slide-3" name="carrousel" type="radio" />
        <div class="slide">
            <label for="slide-2" class="back">‹</label>
            <div class="slide-content">
                <div class="text-slide">
                    <h4>Bostorek Bookstore 4</h4>
                    <h1>For All Your<br/>Reading Needs</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora sequi fugiat veniam cum.</p>
                    <button type="button" class="btn btn-primary">Read More</button>
                </div>
                <img src="../assets/img/slider-img.png" alt="">
            </div>
            <label for="slide-0" class="forward">›</label>
        </div>
    </section>
    <section products>
        <h2 class="center">Products</h2>
        <div class="searchBox">
            <div class="input-group">
                <input id="input" type="text" class="form-control input-lg" placeholder="Search for...">
                <span class="input-group-btn">
                 <button id="searchBtn" class="btn btn-default" type="button"> <img src="../assets/img/search.png" alt=""></button>
                </span>

            </div>
            <!-- /input-group -->
        </div>
        <div class="card" style="width: 18rem;" *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]">
            <img src="../assets/img/cat1.png" class="card-img-top" style="width:100px" alt=" ">
            <div class="card-body ">
                <h5 class="card-title ">Card title</h5>
                <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="# " class="btn btn-primary ">Go somewhere</a>
            </div>
        </div>
    </section>
    <section ourBlog>
        <h3 class="center">From Our Blog</h3>
        <div class="card-grid">
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/b1.jpg" class="card-img-top" style="width:300px" alt=" ">
                <div class="card-body ">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="# " class="btn btn-primary ">Go somewhere</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../assets/img/b2.jpg" class="card-img-top" style="width:300px" alt=" ">
                <div class="card-body ">
                    <h5 class="card-title ">Card title</h5>
                    <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="# " class="btn btn-primary ">Go somewhere</a>
                </div>
            </div>
        </div>
    </section>
    <section contact>

        <div class="contact-grid">
            <div class="contact-form">
                <h3>Contact Us</h3>
                <h4>Bostorek Bookstore</h4>
                <h1>For All Your<br/>Reading Needs</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora sequi fugiat veniam cum.</p>
                <button type="button" class="btn btn-primary">Read More</button>
            </div>
            <img src="../assets/img/contact-img.jpg" alt="">
        </div>
    </section>
    <section footer>
        <div>
            <h3 class="white">About Us</h3>
        </div>
        <div>
            <h3 class="white">Address</h3>
        </div>
    </section>
</div>


<router-outlet></router-outlet>